aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==2.0.33
requests
tgcrypto
yt-dlp
olefile
lk21
filetype
tldextract
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.2
pyaes==1.6.1
pysocks==1.7.1
